  <h1>Gallery</h1>

  <% @artworks.each do |a| %>
  <div class="userandinfo">
  <a href="<%= artwork_path(a) %>">
    <div class="trial" style="background-image: url(<%=a.image%>)">
    </div>
    </div>
  </a>
  <% end %>
