<div class="home">
  <div class="homepage">
    <h1>A MUSE.</h1>
    <p>Be a muse or find a muse... A community for Artists and Muses</p>
    <% if !@current_user.present? %>
    <%= link_to 'Sign up', new_user_path, :class => 'frontsignup'%>
    <% end %>
  </div>
</div>
