<div class="photoheading">
<h2>Replace Photo</h2>
</div>
<div class="blackbox">
  <%= image_tag "defaultpp.jpg", :class => 'default' %>
  <%= form_for @photo, :html => {:multipart => true} do |f| %>
  <div class="replaceform">
<fieldset>
  <%= f.file_field :image %>
</fieldset>
<%= f.submit "Upload", :class => "submit" %>
<% end %>
  </div>
