<div class="photoheading">
<h2>Replace Photo</h2>
</div>
<div class="blackbox">
  <%= form_for @photo, :html => {:multipart => true} do |f| %>
  <div class="editform">
<fieldset>
  <%= f.label :image %>
  <%= f.file_field :image %>
</fieldset>
<%= f.submit "Edit", :class => "submit" %>
<% end %>
  </div>
