<h1>Inspire Others!</h1>
<br>
<h3>Get started by uploading a photo</h3>
<div class="blackbox">
  <%= image_tag "defaultpp.jpg", :class => 'default' %>
<%= form_for @photo, :html => {:multipart => true} do |f| %>
<div class="replaceform">
  <fieldset>
    <%= f.file_field :image %>
  </fieldset>
</div>
<%= f.submit "Upload!", :class => "submit" %>
<% end %>
</div>
