<% unless @current_user.id == @photo.user_id %>
<div class="photoheading">
  <h2> Does this photo inspire you?</h2>
</div>
<% end %>

<% if @current_user.id == @photo.user_id %>
<div class="photoheading">
  <h2>You're an inspiration</h2>
</div>
<% end %>

<%= image_tag @photo.link, :class =>'photoshow' %>

<% unless @current_user.id == @photo.user_id %>
<div class="controls">
  <%= link_to "Upload Your Artwork", new_artwork_path( :photo_id => @photo.id )%>
 </div>
<% end %>

<% if @current_user.id == @photo.user_id %>
<div class="controls">
  <%= link_to "Edit Photo", edit_photo_path(@photo)%>
  <%= link_to "Delete Photo", @photo, :method => :delete, :data => {:confirm => 'Are you sure?'}%>
 </div>
<% end %>
