// Place all the styles related to the Artworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.artworkshow {
  height: 300px;
  margin-bottom: 50px;
}

.allartworks {
  margin-top: 50px;
  height: 160px;
}

.artworksdisplay {
    display: inline-block;
}

img.allartworks:hover {
  box-sizing: border-box;
  border-color: rgb(0, 209, 255);
  border-width: 5px;
  border-style: solid;
}


.artworkcontrols a {
  margin-top: 40px;
  margin-left: 20px;
  border: 1px solid white;
}

.artworkcontrols a:hover {
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EC6EAD, #3494E6);
}

.allartworksuser {
  position: relative;
  height: 120px;
  padding: 0;
  margin: 20px auto;
  margin-right: 10px;
}

.userright a {
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.userright h3 {
  padding: 0;
  margin: 20px 0;
}

.userright h1 {
  padding: 0;
  margin: 25px 0;
}

.bodyclone {
width: 80%;
margin: 50px auto;
font-family: sans-serif;
display: flex;
flex-wrap: wrap;
}

.thumber {
  width: 200px;
  height: 200px;
  overflow: hidden;
  transition: transform .2s ease-in-out;
}

.thumber:hover {
  transform: scale(1.2);
}

.allartworksuser:hover {
  border: 4px solid cyan;
  transform: scale(1.15);
}

.commentbox {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  max-height: 200px;
  overflow: scroll;
}

.bin {
  height: 16px;
  float: right;
}

.bin:hover {
  box-sizing: border-box;
  filter: saturate(0.1);
}
ul {
  margin: 0;
  padding: 10px;
}
ul li {
  padding: 5px;
  text-decoration: none;
  display: block;
  font-weight: 300;
  text-align: left;
  margin: 0;
  color: black;
  border-bottom: 1px solid rgb(163, 157, 160);
}
.username {
  color: #365899;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  margin-left: 0;
  margin-right: 10px;
}

.username:hover {
  text-decoration: underline;
  color: rgb(32, 20, 163)
}

.commenting {
  width: 360px;
  margin: 10px auto;
}

.artworksprofile {
  margin-left: 50px;
  padding-bottom: 50px;
}
