//<-------------GRADIENT ON HOMEPAGE-------------->
.home {
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  padding-top: 47vh;
  padding-bottom: 70px;
  width: 97vw;
}
//<-------------NAVBAR-------------->
.navbar{
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    margin: 0;
    padding: 10px, 15px;
    margin-right: 20px;
}

.navbar li{
  border-bottom: none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 15px;
}

nav a:hover {
  border-bottom: 1px solid rgb(0, 209, 255);
  border-bottom: 25%;
  box-sizing: border-box;
  color: rgb(0, 209, 255);
}

@media (max-width: 768px) {
    nav a:hover {
        border-bottom: none;
    }
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #00d1ff;
    background-color: transparent;
}

//<-------------NAVBAR END-------------->

//<-------------DROPDOWN-MENU REPLACING BOOTSTRAP DEFAULT-------------->
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: rgb(0, 209, 255);
}
#customdropdown{
  background-color: #28282b;
  left: 0;
}

#customdropdown a{
  color: white;
  padding: 15px 10px;
}

#customdropdown a:hover{
  color: rgb(0, 209, 255);
  background-color: transparent;
  border: none;
}
//<-------------DROPDOWN-MENU REPLACING BOOTSTRAP DEFAULT END -------------->

.profilecontainer {
  width: 100%;
  background: #28282b;  /* fallback for old browsers */
  height: 100%;
  padding-bottom: 50px;
  min-height: 800px;
}

.homeedit {
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 10vh;
  height: 100vh;
}

.signup {
  height: 100%;
}

.homepage {
  text-align: left;
  margin-left: 10vw;
}

.homepage h1 {
  color: white;
  font-size: 8vmax;
  margin-bottom: 4vh;
}

.editprofile {
  color: white;
  font-size: 8.5vh;
  margin-bottom: 4vh;
}

.homepage p{
  font-size: 3vh;
  color: white;
  font-weight: 300;
  margin-bottom: 5vh;
  margin-right: 4vw;
}

.homepage a{
  margin: 0;
  border: 1px solid white;
  margin-top: 20px;
  padding: 10px 30px
}

.frontsignup:hover {
  color: black;
  border-color: black;
}
