// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  width: 100%;
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 300px;
  padding-bottom: 70px;
}

.homeedit {
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 70px;
  padding-top: 30px;
}

.homepage {
  text-align: left;
  margin-left: 80px;
}

.homepage h1 {
  color: white;
  font-size: 80px;
  margin-bottom: 20px;
}

.homepage p{
  font-size: 16px;
  color: white;
  font-weight: 300;
  margin-bottom: 40px;
}

.homepage a{
  margin: 0;
  border: 1px solid white;
  margin-top: 20px;
  padding: 10px 30px
}
nav {
  background: black;
  padding: 20px;
  text-align: left;
  margin-right: 0;
  padding-bottom: 30px;
  vertical-align: top;
  text-align: top;
}

nav a:hover {
  box-sizing: border-box;
  color: rgb(0, 209, 255);
  border-bottom: 1px solid rgb(0, 209, 255);
  border-bottom: 25%;
}

.right {
  float: right;
}

.frontsignup:hover {
  color: black;
  border-color: black;
}
