// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.allphotos {
  position: relative;
  height: 120px;
  padding: 0;
  margin: 20px auto;
}

.allphotos:hover {
  border: 4px solid cyan;
  transform: scale(1.15);
}

.photoshow {
  margin: 0 auto;
  height: 300px;
}

.photoheading h2 {
  margin: 40px auto;
}

.photoandinspo {
  display: inline-block;
}

.default {
  height: 200px;
  margin-bottom: 20px;
}

.replaceform fieldset{
  margin-left: 142.85px;
}
.replaceform {
  text-align: center;
}

.file_field {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  font-weight:200;
}

.trial {
  height: 200px;
  margin: 20px auto;
  width: 200px;
  overflow: hidden;
  border: 4px solid white;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.feature {
  height: 300px;
  vertical-align: middle;
}

.photosprofile {
  margin-left: 50px;
  padding-bottom: 50px;
  display: none;
}
