// Place all the styles related to the Relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn {
  margin: 10px auto;
}

.followtitle h1{
  text-align: center;
}

.displayfollowinfo {
  text-align: center;
  margin: 10px;
}

.f_info {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 2em;
  color: black;
}

.f_info a{
  border: 1px solid black;
  padding: 4px;
  color: black;
}

.f_info a:hover{
background-color: black;
}

.allfollowinfo {
  background-color: white;
  display: inline-block;
  padding-bottom: 10px;
}

.allfollowinfo a {
  padding: 0;
  margin: 0;
}
