// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signin {
  padding-top: 50px;
  text-align: left;
  margin-left: 30%;
  line-height: 30px;
}
